In [9]:
import os
import sys
import warnings
import pandas as pd
warnings.filterwarnings('ignore')

parent_path = os.path.dirname(os.getcwd())
tools_path = os.path.join(parent_path, 'tools')
sys.path.append(parent_path)
sys.path.append(tools_path)

In [10]:
from tools.multimodal import generate_ohlcv_changes

aapl = pd.read_feather(parent_path+'/data/AAPL_with_indicators.feather')
amzn = pd.read_feather(parent_path+'/data/AMZN_with_indicators.feather')
goog = pd.read_feather(parent_path+'/data/GOOGL_with_indicators.feather')
msft = pd.read_feather(parent_path+'/data/MSFT_with_indicators.feather')
tsla = pd.read_feather(parent_path+'/data/TSLA_with_indicators.feather')

base_path = parent_path +'/data/graph/'

In [11]:
train_size = int(len(aapl) * 0.8)
train_df = aapl[:train_size]
test_df = aapl[train_size:]

test_df.head()

,date,open,high,low,close,volume,SMA,EMA,RSI,DX,ATR,BIAS,ROC
1192,2023-02-22,148.869995,149.949997,147.160004,148.119385,51011300,148.869776,147.964329,53.315802,22.382245,3.671963,-0.005041,-3.564587
1193,2023-02-23,150.089996,150.339996,147.240005,148.606796,48394200,149.255531,148.025516,54.185791,23.679107,3.631107,-0.004346,-1.508606
1194,2023-02-24,147.110001,147.190002,145.720001,145.931061,55469600,149.403216,147.826044,48.808414,15.574007,3.577942,-0.023240,-2.608869
1195,2023-02-27,147.710007,149.169998,147.449997,147.134644,44998500,149.513253,147.760196,51.156476,22.681997,3.553728,-0.015909,-2.046221
1196,2023-02-28,147.050003,149.080002,146.830002,146.627350,50547000,149.743425,147.652306,50.113125,19.295100,3.460604,-0.020809,-4.185895

In [12]:
date = test_df['date'].astype(str).to_list()
date[0]

'2023-02-22'

In [13]:
# 先把图片全部准备好
from tools.multimodal import *

for i in range(len(date)):
    current_time = date[i]
    plot_stock_graph(aapl, current_time, base_path)